{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
	$("#person_list").addClass("active");
</script>
{% endblock %}

{% block content %}

	{% load tags %}
	
	<form method="post" action="" class="form-horizontal" role="form">
		{% csrf_token %}
		{% for field in form %}
		  <div class="form-group {% if field.errors %}has-error{% endif %}">
		    <label class="col-sm-2 control-label">{{ field.label }}</label>
		    <div class="col-sm-5">
		    	{{ field|set_class:"form-control" }}
		    </div>
		    {% if field.errors %}
		    	<p class="help-block">{{ field.errors|join:", " }}</p>
		    {% endif %}
		  </div>
		{% endfor %}
		<div class="form-group">
			<label class="col-sm-2"></label>
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</form>

{% endblock %}