{% extends 'core/base.html' %}

{% block script %}
<script type="text/javascript">
	$("#log_list").addClass("active");
</script>
{% endblock %}

{% block content %}
	<table class="table table-striped">
		<thead>
			<th>Ação</th>
			<th>Pessoa</th>
			<th>Data</th>
		</thead>
		<tbody>
			{% for log in log_list %}
				<tr>
					<td>{{ log.get_action_type_display }}</td>
					<td>{{ log.person }}</td>
					<td>{{ log.date|date:"d/m/Y H:i" }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}