{% extends 'core/base.html' %}

{% block script %}
{% load staticfiles %}
<script type="text/javascript">
	$("#name_search").select2();
	$("#person_list").addClass("active");
</script>
{% endblock %}

{% block content %}
	<div class="row">
		<form class="form-inline" action="" method="GET">
		  	<div class="form-group">
		    	<input type="text" name="query" list="name_list" class="form-control" style="width:300px">
		    	<datalist id="name_list">
		    		{% for name in name_list %}
		    			<option>{{ name.0 }}</option>
		    		{% endfor %}
		    	</datalist>
		  	</div>
		  	<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
	</div>

	<div class="row">
		<table class="table table-striped">
			<thead>
				<th>Código</th>
				<th>Nome</th>
				<th>Detalhes</th>
				<th>Editar</th>
				<th>Remover</th>
			</thead>
			<tbody>
				{% for person in person_list %}
					<tr>
						<td>{{ person.code }}</td>
						<td>{{ person.name }}</td>
						<td><a href="{% url 'core:person_detail' person.pk %}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
						<td><a href="{% url 'core:person_update' person.pk %}"><span class="glyphicon glyphicon-edit"></span></a></td>
						<td><a href="{% url 'core:person_delete' person.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	{% include 'core/paginator.html' %}
	
{% endblock %}